html {
    background-color: #005487;
}

.cabecalho {
    position: relative;
    border-bottom: solid 2px;
    background-color: aliceblue;
    width: 100%;
}

.logo-cabecalho {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
    border: solid 2px aliceblue;
    width: 33%;
    position: relative;
    left: 33%;
}

.lead {
    text-align: center;
    width: 33%;
    position: absolute;
    left: 33%;
    border: solid 2px aliceblue;
    color: white;
}

.lead h3{
    text-align: left;
    padding-bottom: 5px;
}

.nome-candidato {
    padding: 10px;
}


.cidade {
    padding: 10px;
}

.cpf {
    padding: 10px;
}

.telefone {
    padding: 10px;
}

.email {
    padding: 10px;
}

.cursos {
    padding: 10px;
}

.unidade {
    padding: 10px;
}

.unidade h3 {
    padding-bottom: 15px;
    text-align: center;
}

.unidade label{
    border: solid 1px;
    padding: 2px;
    border: 2px solid #5c5c5c;
    border-radius: 7px;
}

.analista {
    padding: 10px;
}

.enviar {
    padding: 10px;
}

.caixa {
    width: 100%;
    border: 2px solid #5c5c5c;
    border-radius: 7px;
}

.caixa-envio {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #5c5c5c;
    border-radius: 7px;
}